extends layout

block content
  h1= title
  - let createView = `dispatch(\"Tshirt/create\")`
  button.btn(class="btn-primary m1-2", onclick=createView) Create
  - let results = theTshirt
  div(class="container-fuild")
    div(class="row")
      each item in results
       - let updateView = `dispatch(\"/Tshirt/update?id=${item._id}\")`
       - let detailView = `dispatch(\"/Tshirt/detail?id=${item._id}\")`
       - let deleteView = `dispatch(\"/Tshirt/delete?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item is #{item.brand} with material is #{item.material} and cost is #{item.cost} </br>
         button.btn(class="btn-primary ml-2", onclick= updateView) Update
         button.btn(class="btn-primary ml-2", onclick= detailView) Detail
         button.btn(class="btn-danger ml-2", onclick= deleteView) Delete

  script.
    function dispatch(path){
      window.location.href=path
    }

//-
      each result,index in results
        div(class = "col-sm-2" id=index onclick=`buy(${index})`) 
          p #{result.itemname}
          p #{result.price}
          p #{result.quantity}
              
  script.
    function buy(element){
      alert(`You purchased item is ${element+1}.`)
    }